name: CI

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: "*"

jobs:
  build:
    name: ${{ matrix.os }} - go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    strategy:
      # If you want to matrix build , you can append the following list.
      matrix:
        go:
          - 1.15
        os:
          - ubuntu-latest
    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v2.1.4
        with:
          # Cache
          path: ~/go/pkg/mod
          # Cache key
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          # An ordered list of keys to use for restoring the cache if no cache hit occurred for key
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Get dependencies
        run: |
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          else
              go get -v -t -d ./...
          fi

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.2.0
        with:
          version: v1.44.2
          args: --timeout=10m -v --config=.golangci.yml
          skip-pkg-cache: true
          skip-cache: true
          skip-build-cache: true

      - name: gofmt
        run: |
          go fmt ./... && git status && [[ -z `git status -s` ]]
          # diff -u <(echo -n) <(gofmt -d -s .)
      - name: verify
        run: |
          make verify

      # This step only runs when the event type is a pull_request
      - name: Integrate Test
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          chmod +x integrate_test.sh && [[ -n "${{github.event.pull_request.head.repo.full_name}}" ]] && [[ -n "${{github.event.pull_request.head.sha}}" ]] && [[ -n "${{github.base_ref}}" ]] && ./integrate_test.sh ${{github.event.pull_request.head.repo.full_name}} ${{github.event.pull_request.head.sha}} ${{github.base_ref}}

        # This step only runs when the event type is a push
      - name: Integrate Test
        if: ${{ github.event_name == 'push' }}
        run: |
          chmod +x integrate_test.sh && ./integrate_test.sh $GITHUB_REPOSITORY $GITHUB_SHA $GITHUB_BASE_REF

      - name: Post Coverage
        run: bash <(curl -s https://codecov.io/bash)